site_name: DB Infoscreen
site_url: https://faserf.github.io/ha-db_infoscreen/
repo_url: https://github.com/FaserF/ha-db_infoscreen
repo_name: FaserF/ha-db_infoscreen
edit_uri: edit/main/docs/

theme:
  name: material
  language: en
  logo: images/logo.png
  favicon: images/logo.png
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: teal
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: teal
      accent: lime
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.expand
    - navigation.indexes
    - search.suggest
    - search.highlight
    - search.share
    - content.code.copy
    - content.action.edit
    - content.action.view
    - toc.follow
  icon:
    repo: fontawesome/brands/github

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/FaserF/ha-db_infoscreen
      name: GitHub Repository
    - icon: fontawesome/solid/heart
      link: https://github.com/sponsors/FaserF
      name: Sponsor me on GitHub
    - icon: fontawesome/solid/bug
      link: https://github.com/FaserF/ha-db_infoscreen/issues
      name: Report an Issue
  generator: false

plugins:
  - search
  - minify:
      minify_html: true

markdown_extensions:
  - admonition
  - attr_list
  - def_list
  - footnotes
  - meta
  - md_in_html
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

nav:
  - Home: index.md
  - Installation: installation.md
  - Configuration: configuration.md
  - Options: options.md
  - Advanced: advanced.md
  - Services: services.md
  - Automations: automations.md
  - Limitations: limitations.md
  - Troubleshooting: troubleshooting.md
  - Development: development.md
  - "❤️ Support": support.md
